.tree-list__item {
  padding: 10px;
  background-color: rgb(240, 255, 255);
  border: 1px solid #000000;
  list-style-type: none;
}

.tree-list__text {
  padding: 0 10px;
}

.tree-list__button {
  width: 30px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}
