.tree-list__item {
  background-color: rgb(240, 255, 255);
  border: 1px solid #000000;
  border-bottom: 0;
  list-style-type: none;
}

.tree-list__text {
  padding: 0 10px;
}

.tree-list__button {
  width: 30px;
  height: 20px;
  margin: 5px 0;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.tree-list__item:last-child {
  border-bottom: 1px solid #000000;
}
