.child-item {
  border: 1px solid black;
  padding: 10px;
}

.child-item--open::before {
  content: url(minus.svg);
  padding-right: 5px;
}

.child-item--closed::before {
  content: url(plus.svg);
  padding-right: 5px;
}

.parent-item {
  border: 1px solid black;
  padding: 10px;
}

.parent-item--open::before {
  content: url(minus.svg);
  padding-right: 5px;
  filter: invert(7%) sepia(100%) saturate(7477%) hue-rotate(248deg)
    brightness(103%) contrast(143%);
}

.parent-item--closed::before {
  content: url(plus.svg);
  padding-right: 5px;
  filter: invert(7%) sepia(100%) saturate(7477%) hue-rotate(248deg)
    brightness(103%) contrast(143%);
}

.attribute-item {
  opacity: 0.8;
  border: 1px solid black;
  padding: 10px;
}

.attribute-item::before {
  content: url(button.svg);
  padding-right: 5px;
}
